@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
body{
    background: #fcbc8c;
    background-position: bottom;
    background-size: cover;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.fotos{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap:1rem;
    width:80%;
    margin: 0 auto;
}
.fotos figure{
    display:flex;
    justify-content: center;
    width:100%;
}
@media (min-width:240px) and (max-width:900px){
    .fotos{
        grid-template-columns: 1fr;
        width:90%;
    }
}
