@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
body{
    background: #fcbc8c;
    background-position: bottom;
    background-size: cover;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
header{
    padding:2rem 0;
}
header nav{
    align-items: center;
    display:flex;
    justify-content: space-between;
    margin:0 auto;
    width:90%;
}
.himLogo{
    width:5%;
}
.intraLogo{
    width:20%;
}
.calendarWrapper{
    padding:3rem 0;
}
.calendar , #nextMonthBtn{
    width: 30%;
    text-align: center;
    margin-left: 5%;
}
#nextMonthBtn, #prevMonthBtn{
    margin-left: 5%;
    border:1px solid #fff;
    color:#fff;
    background: none;
    cursor:pointer;
    padding:0.5rem;
    width: 15%;
}
.letters{
    padding: 6rem 0;
    margin-left: 5%;
}
p{
    color:#fff;
    font-size:2rem;
    margin-left: 5%;
    padding-bottom:6rem;
    width:70%;
}
.month {
    color:#fff;
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 2rem;
    text-align: left;
}

.day {
    background: #ffffffd2;
    border-radius: 9px;
    display: inline-block;
    width: 100%;
    border: 1px solid #ccc;
    padding:1rem;
}
.days{
    display:grid;
    grid-template-columns: repeat(6,1fr);
    gap:0.2rem;
    width:100%;
}
/* Estilos para la ventana modal */
.modal {
    display: none; /* Oculta la ventana modal por defecto */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    background-color: #049bd8;
    margin: 20% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}
.modal-food-content{
    background-color: #c8c8c8;
    color:#000;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.modal-texts h2{
    color:#fff;
    font-size: 2rem;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
/* Añadir estilos para resaltar los días con cumpleaños al hacer hover */
.day:hover {
    background-color: #f0f0f0;
}

.has-birthday {
    background-color: #ffc107; /* Cambiar el color de fondo para los días con cumpleaños */
    color: #000; /* Cambiar el color del texto para que sea legible en el fondo amarillo */
    cursor: pointer;
}
.modal-texts{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap:1rem;
}
.modal-texts img{
    width:60%;
}
.modal-texts ul{
    color:#fff;
    font-size: 1.5rem;
    list-style: none;
    line-height: 2.5rem;
    margin: 0 auto;
    width:90%;
}
.menuOptions{
    display: flex;
    justify-content: end;
    margin:0 auto;
    padding:1rem;
    width:80%;
}
.menuOptions ul{
    color:#fff;
    display:flex;
    justify-content: end;
    font-size: 1.5rem;
    gap:3rem;
    list-style: none;
    width:100%;
}
.menuOptions li{
    cursor:pointer;
}
.menuOptions a {
    color:#fff;
    text-decoration: none;
}
.fotos{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap:1rem;
    width:80%;
    margin: 0 auto;
}
.fotos figure{
    display:flex;
    justify-content: center;
    width:100%;
}
@media (min-width:240px) and (max-width:900px){
    .header nav{
        flex-direction: column;
        justify-content: center;
    }
    p{
        font-size: 1rem;
        width:90%;
    }
    .calendar{
        width:90%;
    }
    .fotos{
        grid-template-columns: 1fr;
    }
}
